.radio__wrapper--simple {
  display: flex;
  flex-direction: column;
}

.form__radio-text--simple {
  display: inline;
  padding-left: 30px;

  &::after {
    top: 3px;
    left: -70px;

    @media (min-width: 1024px) {
      left: -80px;
    }
  }
}

.form__direction-button {
  &::after {
    margin: 0;
    left: 0;
  }
}