
.form__label {
  display: flex;
  flex-direction: column;
}

.form__label-text {
  position: relative;
  margin-bottom: 15px;
  width: max-content;

  &::after {
    position: absolute;
    display: block;
    content: "*";
    color: red;
    font-size: 10px;
    top: 3px;
    right: -10px;
  }
}

.input {
  width: 300px;
  height: 25px;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #000;
}