@import 'node_modules/react-modal-video/scss/modal-video.scss';

.leader {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 2px solid rgba($color: #000000, $alpha: 0.5);
  border-radius: 5px;
  background-color: #fff;

  cursor: pointer;

  @media (min-width: 1024px) {
    width: 728px;
  }
}

.leader__img {
  grid-column: 1 / 2;
}

.leader__wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;
}

.leader__name {
  position: relative;
  padding: 5px;
}

.leader__border {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
}

.leader {
  position: relative;
  margin-bottom: 15px;

  &:hover {
    outline: 2px solid black;
  }


  .leader__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:focus + .leader__text::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 728px;
      height: inherit;
      background-color: transparent;
      content: '';
      outline: auto 5px -webkit-focus-ring-color;
    } 

    &:checked+.leader__border {
      border: #299DC6 5px solid;
      z-index: 20;
    }

  }
}

.leader__text {
  position: relative;
  width: auto;
  max-width: 200px;
  font-size: 14px;
  padding-left: 5px;
  padding-bottom: 5px;

  @media (min-width: 600px) {
    max-width: auto;
  }

  @media (min-width: 600px) {
    font-size: 17px;
  }

  &:first-child()::after {
    position: absolute;
    top: 60px;
    left: -100px;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border: black 3px solid;
    cursor: pointer;
    border-radius: 50%;
  }
}

.leader__video {
  position: relative;
  background: transparent;
  border: 1px solid #299DC6;
  border-radius: 5px;
  color: #299DC6;
  margin-left: 10px;
  margin-top: 5px;

  cursor: pointer;
  z-index: 20;
}

.leader__presentation {
  max-width: 200px;
  width: auto;
  font-size: 15px;
  padding-left: 5px;
  padding-bottom: 5px;

  @media (min-width: 600px) {
    max-width: auto;
  }
}