@media (max-width: 1023px) {

  .form__radio-button--income {
    width: 170px;
  }

  .radio__wrapper--income {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;

    margin-right: auto;
    margin-left: auto;
  }

  .form__radio-text--income {
    text-align: left;
    font-size: 14px;

    &::after {
      top: -2px;
      left: 202px;
    }
  }

  .form__radio-progress--income {
    left: 93%;

    top: 29px;
    width: 8px;
    height: 86%;

    @media (min-width: 380px) {
      left: 104%;
    }
  }
}

.rating__input {
  display: none; 
}

.rating__input:checked ~ .rating__label::after {
  background-color: white;
  
}

.rating__input:checked + .rating__label::after {
  background-color: #299DC6;
}

.rating__input:indeterminate + .rating__label::after {
  background-color: white;
}

.rating__label {
  position: relative;
  display: block;
  cursor: pointer; 
  height: 50px;
  max-width: 270px;
  
  @media (max-width: 1023px) {
    &:first-of-type::after {
      top: -20px;
    }
  }

  @media (min-width: 1024px) {
    height: auto;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;
  }
}

.rating__label::after {
  position: relative;
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  color: white;
  border-radius: 50%;
  border: #299DC6 2px solid;
  background-color: #299DC6;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;

  z-index: 5;

  @media (min-width: 380px) {
    margin-left: 0;
    left: 275px;
  }

  @media (min-width: 1024px) {
    top: 13px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.radio__inner {
  position: relative;

  @media (min-width: 1024px) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}