.radio__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.form__radio-progress {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  left: 0;
  right: 0;
  width: 80%;
  height: 8px;
  border: solid 2px #299DC6;
  background-color: white;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1024px) {
    width: 530px;
    left: 0;
  }
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked ~ .form__radio-text::after {
    background-color: #299DC6;
  }
}

.form__radio-text {
  position: relative;
  display: block;
  text-align: center;

  &::after {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;    
    margin-right: auto;
    margin-left: auto;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: #299DC6 2px solid;
    background-color: white;
    cursor: pointer;
    z-index: 5;

    @media (min-width: 1024px) {
      top: 25px;
    }
  }
}

.form__radio-progress--income {
  top: 67px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1024px) {
    width: 510px;
    left: -33px;
    top: 77px;
  }
}

.form__radio-text--income::after {
  top: 53px;
}

.radio__button {
  position: absolute;
  top: 53px;
  left: 70px;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: #299DC6 2px solid;
  background-color: white;
  cursor: pointer;
  z-index: 5;
}

.rating__income {
  text-align: center;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }

  &::after {
    top: 40px !important;
    left: -12px;
    right: 0;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1024px) {
      top: 80px !important;
    }
  }
}