.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1024px) {
    max-width: 770px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  max-width: 100%;
}

.form__radio-container {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
}


.form__radio-button {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: 1024px) {
    margin-bottom: 15px;
  }

  &:hover {
    outline: none;
    cursor: pointer;
  }

  .form__radio-leader {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:focus + .form__radio-text::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 728px;
      height: 178px;
      background-color: transparent;
      content: '';
      outline: auto 5px -webkit-focus-ring-color;
    } 

    &:checked + .form__radio-text::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 728px;
      height: 178px;
      background-color: transparent;
      content: '';
      outline: 3px solid black;
    }
  }
}

.form__search-field {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    width: 400px;
  }
}

.radio__header {
  position: relative;
  display: block;
  width: 90%;
  text-align: center;

  &::after {
    position: absolute;
    display: block;
    content: "*";
    color: red;
    font-size: 10px;
    top: 3px;
    right: -10px;
  }

  @media (min-width: 1024px) {
    width: max-content;
  }
}
