.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  background-color: #E8EEF1;
}

.header__container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #D9DCE0;
  background-color: #fff;

  @media (min-width: 1024px) {
    max-width: 770px;
  }
}

.header__header {
  margin: 0;
}