.container {
  display: flex; 
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1024px) {
    max-width: 770px;
  }
}

.container__inner {
  width: 90%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #D9DCE0;
  background-color: #fff;

  @media (min-width: 1024px) {
    max-width: 770px;
  }
}

.container__wrapper {
  display: block;
  margin-bottom: 20px;
  width: auto;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1024px) {
    width: 400px;
  }
}